

{% extends 'base.html' %}
{% block content %}
<style>
	h2 {
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.wrapper-center {
		margin-top: 4px;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	.wrapper-center h4 {
		font-size: larger;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 4px;
	}
	.wrapper-center h6 {
		font-size: larger;
		color: #301934;
		font-weight: 500;
	}
	.wrapper-center p {
		margin-top: 2rem;
		font-size: large;
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
			"Lucida Sans", Arial, sans-serif;
	}

</style>
<h2>Welcome to the Virtual TA!</h2>
<div class="wrapper-center">
	<h4>CS 4349 Advanced Algorithm Design and Analysis</h4>
	<h6>Anjum Chida</h6>
	<p>
		To begin chatting with the TA, click the button at the button at the
		bottom right of the screen
	</p>
</div>



{% endblock %}
