<style>
	h2 {
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.wrapper-center {
		margin-top: 4px;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	.wrapper-center h4 {
		font-size: larger;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 4px;
	}
	.wrapper-center h6 {
		font-size: larger;
		color: #301934;
		font-weight: 500;
	}
	.wrapper-center p {
		margin-top: 2rem;
		font-size: large;
		font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
			"Lucida Sans", Arial, sans-serif;
	}
	button {
		padding: 3px 6px;
		border-radius: 10px;
		cursor: pointer;
		background-color: blue;
		color: white;
		border: none;
		font-size: large;
		font-weight: 600;
		position: absolute;
		bottom: 10;
		right: 3;
	}
</style>

{% extends 'base.html' %} {% block content %}
<h2>{% block title %} Welcome to the Virtual TA! {% endblock %}</h2>
<div class="wrapper-center">
	<h4>CS 3345 Data Structures & Algorithms</h4>
	<h6>Anjum Chida</h6>
	<p>
		To begin chatting with the TA, click the button at the button at the
		bottom right of the screen
	</p>
</div>


{% endblock %}

<script>
	const check_open = document.getElementById("virtualtabtn");
</script>
